* {
  margin: 0;
  padding: 0;
}

header, main, footer {
  min-width: 855px;
}

header {
  text-align: center;
  margin-bottom:20px;
}

.name-input {
  text-align: center;
}

.character-choices {
  text-align:center;
}

.character-choices h3 {
  margin-bottom: 20px;
}

.character-choices div{
  text-align: center;
  position: relative;
  display:inline;
  margin-right: 30px;
}

.character-choices div img {
  width:3em;
}

.player1 {
    height: 75px;
    width: 75px;
    border-radius: 10px;
   /* background-color: #FF0000;*/
    position: relative;
    /*color:white;*/
    text-align:center;
}